.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
   .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .wrapper {
    text-align: center;
  
  }
  
  #orderbutton {
    
    position: absolute;
    top: 50%;
    left: 40%;
    background-color: azure;
    size: larger;
  }
  
  .homebackground {
    /* background-image: -webkit- linear-gradient(rgba(0, 0 ,0, 0.7), rgba(0, 0 ,0, 0.7), );
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7),); */
    background-size: cover;
    opacity: 0.80 ;
    
    background-position: center;
    height:100vh;
    background-attachment: auto;
    background-image: url('./images/home1.jpg');
  }
  
  #home
  {
    background-color: rgba(0, 0 ,0, 0.7);
    opacity: 0.65 ;
  }
  
  .box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
  }
  .material-icons{
    font-size: 2.4em;
    cursor: pointer;
  }
  .card{
    width: 300px;
  }
  .card .card-image .card-title{
    color: black;
    font-weight: 400
  }
  .cart{
    margin-top:40px;
  }
  .collection .collection-item{
    display: flex;
  }
  .collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: #ee6e73;
    display: block;
    margin-bottom: 20px;
    
  }
  .collection .collection-item img{
    width: 150px;
    margin-right: 25px;
  }
  .item-desc{
    align-self:center;
  }
  
  #catering-text
  {
    font-size: medium;
    font-style: bold;
    
  }
  
  #header {
    padding: 100px;
    text-align: center;
    background: transparent;
    color: white;
    font-weight: bolder;
    font-size: 40px;
  }  
  
  
.dropdown-toggle {
    cursor: pointer;
}